/application/cache/*
/application/logs/*
/application/config/database.php
gen-modules/*
documents/
.idea/
.projects/
.project
*.tmp
*.bak
*.swp
*~.nib
.settings/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
